h1 > em {
    font-size: 5rem;
}

body {
    background-image: url(../img/wall.png);
    font-family:'Edu TAS Beginner';
}

main {
    background-image: url(../img/cork.png);
}

.paper {
    background-color: white;
    height: 31rem;
    margin-bottom: 3rem;
}